<main>
	<div id="acnt_page"></div>

	<div class="row">
		<div class="column">
			<div class="account card">

	<h1>$Screen_name</h1>
	
	<div class="ava_box">
		<img src="cat.jpeg" class="ava_pic">
	</div>

	<textarea> Bio </textarea>

	<br>

	<button class="edit">Edit Profile</button>


	</div>
	</div>
	</div>

</main>
