<main>
	
	<form id="acntPop" action = '/account/view' method="post">

	<input name="UID" visibility: hidden id="acnt_page" type="number" value=-2>
	<div class="row">
		<div class="column">
			<div class="account card">

	<h1>{{sc}}</h1>
	
	<div class="ava_box">
		<img src={{path}} class="ava_pic">
	</div>

	<textarea> {{bio}} </textarea>

	<br>

	<button class="edit">Edit Profile</button>


	</div>
	</div>
	</div>
	</form>
</main>
