<main>
	<div id="acnt_page_load"></div>
	<form name="load" id="acntPops" action = '/admin' method="post">

		<input name="UID" visibility: hidden id="admin_UID" type="number" value=-2>

	</form>
</main>
