<main>

	<div class="f_row">
	<div class="f_column">

 	<div class="row">
  		<div class="column">
			<image src="../cat.jpeg" class="ava_pic">
    			<div class="card">
				<input type="text" placeholder="$Critter_one"> <br>
				<input type="text" placeholder="$Critter_one_size"> <br>
				<input type="text" placeholder="$Critter_one_quantity"> <br>
				<input type="text" placeholder="$Critter_one_avatar_path">
			</div>
  		</div>
	</div>
	</div>
	<div class="f_column">

        <div class="row">
                <div class="column">
                        <image src="../cat.jpeg" class="ava_pic">
                        <div class="card">
                        	<input type="text" placeholder="$Critter_two"> <br>
                                <input type="text" placeholder="$Critter_two_size"> <br>
                                <input type="text" placeholder="$Critter_two_quantity"> <br>
                                <input type="text" placeholder="$Critter_two_avatar_path">
			</div>
                </div>
        </div>
        </div>

	</div>

	<div class="row">
                <div class="column">
                        <div class="card">
                        <button>Publish!</button>
			</div>
                </div>
        </div>


</main>
