<main>
	<form id = "addBattle" action = "/battle/create" method = "post">
	<input name="UID" visibility: hidden id="battle_create_usr" type="number" value=-2>
	<div class="f_row">
	<div class="f_column">

 	<div class="row">
  		<div class="column">
			<image src="../cat.jpeg" class="ava_pic">
    			<div class="card">
				<input type="text" name = "crit1" class="critterone" placeholder="Enter the critter's name"> <br>
				<input type="text" name = "size1" class="critterone" placeholder="Enter your critter's size"> <br>
				<input type="text" name = "num1" class="critterone" placeholder="Enter how many critter there are"> <br>
				<input type="text" name = "link1" class="critterone" placeholder="Supply an animal image link">
			</div>
  		</div>
	</div>
	</div>
	<div class="f_column">

        <div class="row">
                <div class="column">
                        <image src="../cat.jpeg" class="ava_pic">
                        <div class="card">
				<input type="text" name = "crit2" class="crittertwo" placeholder="Enter the critter's name"> <br>
				<input type="text" name = "size2" class="crittertwo" placeholder="Enter your critter's size"> <br>
				<input type="text" name = "num2" class="crittertwo" placeholder="Enter how many critter there are"> <br>
				<input type="text" name= "link2" class="crittertwo" placeholder="Supply an animal image link">
			</div>
                </div>
        </div>
        </div>

	</div>

	<div class="error">
		{{messages.error}}
	</div>

	<div class="row">
                <div class="column">
											<div class = "card">
											<input type = "submit" value = "Publish!">
			</div>
                </div>
        </div>
	</form>

</main>
