<main>

	<div class="f_row">
	<div class="f_column">

 	<div class="row">
  		<div class="column">
    			<div class="card">New Battles</div>
  		</div>
  		<div class="column">
    			<div class="card">..</div>
  		</div>
  		<div class="column">
    			<div class="card">..</div>
  		</div>
		<div class="column">
			<div class="card">..</div>
		</div>
	</div>
	</div>

        <div class="f_column">

        <div class="row">
                <div class="column">
                        <div class="card">Popular Battles</div>
                </div>
                <div class="column">
                        <div class="card">..</div>
                </div>
                <div class="column">
                        <div class="card">..</div>
                </div>
                <div class="column">
                        <div class="card">..</div>
                </div>
        </div>
        </div>
        </div>

</main>
