<main>
	<div id="acnt_page_load"></div>	
	<form name="load" id="acntPop" action = '/account/view/' method="post">

		<input name="UID" visibility: hidden id="acnt_page_l" type="number" value=-2>
		
	</form>
</main>
