<main>

<div id="userIdGetter" visibility: hidden data-value={{UID}}></div>

<form id = "loginUser" action = "/login/" method = "post">
<div class="row">
  <div class="column">
    <div class="login card">

				<h2 class="form-signin-heading">Log in</h2>
				
				<label for="inputUser" class="sr-only">Username</label>
				<input name="sn" type="text" id="inputUser" class="login-page" placeholder="Username" required="" autofocus="">
				
				<label for="inputPassword" class="sr-only">Password</label>
				<input name="pass" type="password" id="inputPassword" class="login-page" placeholder="Password" required="">

		<input type = "submit" value = "Login!">
    </div>
  </div>
</div>
</form>

</main>
