<main>
  <form id="regi" action="/registration" method="post">
  <div class="row">
    <div class="column">
      <div class="login card">

        <h2 class="form-signin-heading">Register</h2>

        <label for="inputUser" class="sr-only">Username</label>
        <input name="sc" type="text" id="inputUser" class="login-page" placeholder="Username" required="" autofocus="">

        <label for="inputPassword" class="sr-only">Password</label>
        <input name="pass" type="password" id="inputPassword" class="login-page" placeholder="Password" required="">

        <label for="inputEmail" class="sr-only">Email</label>
        <input name="email" type="password" id="inputEmail" class="login-page" placeholder="Email" required="">

	<label for="inputPath" class="sr-only">Avatar Link</label>
        <input name="lnk" type="text" id="inputPath" class="login-page" placeholder="Path/URL" required="">

		<input type = "submit" value = "Register!">
      </div>
    </div>
  </div>
</form>
</main>
