<main>

  <div class="row">
    <div class="column">
      <div class="login card">

        <h2 class="form-signin-heading">Register</h2>

        <label for="inputUser" class="sr-only">Username</label>
        <input name="username" type="text" id="inputUser" class="login-page" placeholder="Username" required="" autofocus="">

        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="login-page" placeholder="Password" required="">

        <label for="inputPassword" class="sr-only">Email</label>
        <input name="password" type="password" id="inputPassword" class="login-page" placeholder="Email" required="">

        <button type="submit" id="registerbutt">Register</button>

      </div>
    </div>
  </div>

</main>
