<main>

<div class="row">
  <div class="column">
    <div class="card">

    	
	<h1>Register </h1><br>
	<label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

<label for="psw"><b>Email</b></label>
    <input type="email" placeholder="Enter Email" name="eml" required>

    <button type="submit">Register</button>
    <label>


    </div>
  </div>
</div>

</main>
