<main>
	
	<div class="row">
		<div class="column">
			<div class="account card">

	<h1>{{sc}}</h1>
	
	<div class="ava_box">
		<img src={{path}} class="ava_pic">
	</div>
	 
	 <div class="txt_box"> {{bio}} </div>
	
	<br>

	
	</div>
	</div>
	</div>

</main>
